@import "shared.scss";

@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 500;
  src: url(font-path('Medium', 'eot'));
  src:
    url(font-path('Medium', 'eot')) format('embedded-opentype'),
    url(font-path('Medium', 'woff2')) format('woff2'),
    url(font-path('Medium', 'woff')) format('woff'),
    url(font-path('Medium', 'ttf'))  format('truetype');
}

@font-face {
  font-family: $font-name;
  font-style: italic;
  font-weight: 500;
  src: url(font-path('MediumItalic', 'eot'));
  src:
    url(font-path('MediumItalic', 'eot')) format('embedded-opentype'),
    url(font-path('MediumItalic', 'woff2')) format('woff2'),
    url(font-path('MediumItalic', 'woff')) format('woff'),
    url(font-path('MediumItalic', 'ttf'))  format('truetype');
}

@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 700;
  src: url(font-path('Bold', 'eot'));
  src:
    url(font-path('Bold', 'eot')) format('embedded-opentype'),
    url(font-path('Bold', 'woff2')) format('woff2'),
    url(font-path('Bold', 'woff')) format('woff'),
    url(font-path('Bold', 'ttf'))  format('truetype');
}

@font-face {
  font-family: $font-name;
  font-style: italic;
  font-weight: 700;
  src: url(font-path('BoldItalic', 'eot'));
  src:
    url(font-path('BoldItalic', 'eot')) format('embedded-opentype'),
    url(font-path('BoldItalic', 'woff2')) format('woff2'),
    url(font-path('BoldItalic', 'woff')) format('woff'),
    url(font-path('BoldItalic', 'ttf'))  format('truetype');
}

body,
html,
#__nuxt,
#__layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: $font-medium;
}

a {
  text-decoration: none;
  color: $black;

  &:visited {
    color: $black;
  }
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
