@mixin entry-font() {
  font: $font-medium-italic;
  font-size: 1em;

  @include breakpoint(sm) {
    font-size: 1.4em;
  }

  @include breakpoint(md) {
    font-size: 1.5em;
  }

  @include breakpoint(lg) {
    font-size: 1.6em;
  }
}
